---
import type { Experience } from "@/lib/types";
import ExperiencePositionItem from "./position-item.astro";

interface Props {
  experience: Experience;
}

const { experience } = Astro.props;
---

<div class="space-y-8 px-8 py-12 not-last:border-b transition-all duration-300 hover:bg-muted/5">
  <div class="flex items-center space-x-6">
    <div class="relative z-10 flex size-4 items-center justify-center rounded-full border border-border bg-background">
      <div class="size-1.5 rounded-full bg-foreground/60"></div>
    </div>

    <h3 class="text-xl font-black tracking-tight text-foreground/90">
      {experience.company}
    </h3>
  </div>

  <div
    class="relative space-y-12 pl-[7px] before:absolute before:left-[7.5px] before:top-2 before:h-[calc(100%-8px)] before:w-px before:border-l before:border-dashed before:border-border/60"
  >
    {
      experience.positions.map((position, index) => {
        return <ExperiencePositionItem position={position} />;
      })
    }
  </div>
</div>
