@import "tailwindcss";

@theme {
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-text-primary: hsl(var(--text-primary));
  --color-text-secondary: hsl(var(--text-secondary));
  --color-background-1: hsl(var(--background-1));
  --color-background-2: hsl(var(--background-2));
  --color-background-3: hsl(var(--background-3));
  --color-hover: hsl(var(--hover));
  --color-border: hsla(var(--border));
}

:root {
  --primary: 238, 81%, 55%;
  --secondary: 237, 79%, 60%;
  --text-primary: 220, 10%, 10%;
  --text-secondary: 220, 8%, 30%;
  --background-1: 0, 0%, 100%;
  --background-2: 220, 20%, 96%;
  --background-3: 220, 20%, 90%;
  --hover: 220, 15%, 85%;
  --border: 220, 15%, 70%, 0.2;
}
