---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";
import MobileNavLinks from "./mobile-nav-links.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav
  class:list={[
    "screen-line-after fixed top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  ]}
>
  <div
    class="mx-auto flex max-w-3xl items-center justify-between border-x px-4 py-1"
  >
    <a href="/">
      <h1 class="text-lg font-bold">Louai.b</h1>
    </a>

    <div class="flex items-center justify-center gap-1 lg:gap-6">
      <NavLinks />
      <ModeToggle />
      <MobileNavLinks />
    </div>
  </div>
</nav>
