---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";
import { PROFILE_INFO } from "@/lib/constants/profile";
import Logo from "@/components/ui/icons/logo.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  ]}
>
  <div
    class="mx-auto flex max-w-4xl items-center justify-between px-4 py-1 md:border-x"
  >
    <a href="/" class="flex items-center gap-2 group transition-all duration-300 hover:opacity-80">
      <Logo className="size-6 transition-transform duration-300 group-hover:rotate-12" />
      <h1 class="text-xl font-bold tracking-tight">{PROFILE_INFO.logo}</h1>
    </a>

    <div class="flex items-center justify-center gap-4">
      <NavLinks />
      <ModeToggle />
    </div>
  </div>
</nav>
