---
import { ModeToggle } from "@/components/mode-toggle";
import NavLinks from "./nav-links.astro";
import MobileNavLinks from "./mobile-nav-links.astro";
---

<nav
  class="border-grid sticky top-1 z-50 w-full border-b border-dashed bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="mx-auto flex max-w-4xl items-center justify-between border-x border-dashed px-4 py-2"
  >
    <a href="/">
      <h1 class="text-lg font-bold">Louai.b</h1>
    </a>

    <div class="flex items-center justify-center gap-1 lg:gap-6">
      <NavLinks />
      <ModeToggle client:load />
      <MobileNavLinks />
    </div>
  </div>
</nav>
