---
import { Icons } from "./icons";

const socialLinks = [
    {
        icon: Icons.github,
        url: "https://github.com/Louai-Zokerburg",
    },
    {
        icon: Icons.linkedin,
        url: "https://www.linkedin.com/in/louai-boumediene-018919262/",
    },
    {
        icon: Icons.x,
        url: "https://x.com/Louai_Dourov",
    },
];
---

<footer class="w-full border-t border-dashed">
    <div
        class="max-w-4xl border-x border-dashed py-4 flex justify-between mx-auto px-4 items-center"
    >
        <p class="text-sm text-foreground/70">
            Built by <a
                href="https://github.com/Louai-Zokerburg"
                class="underline text-primary font-medium underline-offset-4"
                >Louai.b</a
            > • source code available on <a
                href="https://github.com/Louai-Zokerburg/louai"
                class="underline text-primary font-medium underline-offset-4"
                >Github</a
            >
        </p>

        <div class="flex justify-center items-center gap-4">
            {
                socialLinks.map((link) => (
                    <a href={link.url}>
                        <link.icon className="size-5 duration-150 hover:text-primary" />
                    </a>
                ))
            }
        </div>
    </div>
</footer>
