---
import { buttonVariants } from "@/lib/utils";

export interface Props {
  href: string;
  ariaLabel?: string;
  disabled?: boolean;
  className?: string;
}

const { href, ariaLabel, className, disabled = false } = Astro.props;
---

{
  disabled ? (
    <span
      class:list={[
        buttonVariants({ size: "icon", variant: "ghost" }),
        "rounded-full text-muted-foreground hover:bg-transparent hover:text-muted-foreground [&_svg]:size-4",
        className,
      ]}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class:list={[
        buttonVariants({ size: "icon", variant: "ghost" }),
        "!rounded-full",
        className,
      ]}
      aria-label={ariaLabel}
    >
      <slot />
    </a>
  )
}
