<article class="w-full flex flex-col justify-start items-start py-[5vh]">
    <div class="flex justify-start items-start gap-4">
        <div class="size-20 bg-secondary rounded-full"></div>
        <div class="flex flex-col justify-start items-start">
            <h3 class="text-2xl font-bold">Louai Boumediene</h3>
            <p class="text-lg text-foreground">
                Software Engineer, Technical writer
            </p>
            <p class="text-foreground/80 max-w-2xl mt-6">
                Product-minded software developer specializing in end-to-end
                TypeScript stacks. Experienced in hackathons, side projects, and
                team collaborations to build business-aligned solutions.
            </p>
        </div>
    </div>
</article>
