---
import LouaiAvatar from "@/components/ui/louai-avatar.astro";
import VerifiedIcon from "@/components/ui/verified.astro";
import Box from "@/components/box/index.astro";
import BoxContent from "@/components/box/content.astro";

import { PROFILE_INFO } from "@/lib/constants/profile";
import { FlipEffect } from "@/components/ui/flip-effect";
---

<div class="screen-line-after relative flex border-x border-dashed">
  <div class="shrink-0 border-r border-dashed">
    <div class="relative z-1 mx-0.5 my-1">
      <LouaiAvatar
        className="size-16 rounded-full ring-1 ring-border ring-offset-2 ring-offset-background sm:size-32"
      />
    </div>
  </div>

  <div class="flex flex-1 flex-col">
    <div class="flex grow items-end pb-1 pl-4">
      <div
        class="line-clamp-1 font-mono text-xs text-muted-foreground select-none"
      >
        Coding, Creativity, Coffee...
      </div>
    </div>

    <div class="border-t border-dashed">
      <h1
        class="font-heading flex items-center gap-x-2 pl-4 text-2xl font-black"
      >
        {PROFILE_INFO.displayName}
        <span class="relative top-px text-blue-400">
          <VerifiedIcon />
        </span>
      </h1>

      <div class="h-12 border-t border-dashed py-1 pl-4 sm:h-auto">
        <FlipEffect client:load sentences={PROFILE_INFO.flipSentences} />
      </div>
    </div>
  </div>
</div>

<Box>
  <BoxContent>
    <p>Hello there</p>
    <p>Hello there</p>
    <p>Hello there</p>
    <p>Hello there</p>
    <p>Hello there</p>
  </BoxContent>
</Box>
