---
import Box from "@/components/box/index.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxContent from "@/components/box/content.astro";

import { TECH_STACK } from "@/lib/constants/tech-stack";
---

<Box>
  <BoxHeader>
    <BoxTitle> Tech Stack </BoxTitle>
  </BoxHeader>
  <BoxContent>
    <div class="flex flex-wrap items-center justify-start gap-4">
      {
        TECH_STACK.map(item => (
          <a
            href={item.href}
            target="_blank"
            class:list={[
              "flex items-center justify-center gap-2 rounded-md border !border-solid bg-blue-50/10 p-2",
            ]}
          >
            {item.icon && <item.icon className="size-5" />}
            <p>{item.title}</p>
          </a>
        ))
      }
    </div>
  </BoxContent>
</Box>
