---
import { capitalizeFirstLetter } from "@/lib/utils";
import Layout from "./layout.astro";
import { ArrowLeft } from "lucide-react";
import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer.astro";

import Pattern from "@/components/pattern.astro";

import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";

import type { MarkdownHeading } from "astro";
import LinkBtn from "@/components/link-btn.astro";

interface Props {
  title: string;
  readTime: string;
  date: Date;
  headings: MarkdownHeading[];
}

const { title, readTime, date, headings } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
})
  .format(date)
  .replace(/\//g, ".");
---

<Layout title={`${title} | Louai.b`}>
  <Navbar className="top-1" />

  <main
    class="mx-auto min-h-[calc(100vh-120px)] max-w-4xl"
    aria-label="Main content"
  >
    <Pattern className="h-16">
      <LinkBtn className="absolute bottom-0 left-2 z-1" href="/articles">
        <ArrowLeft />
      </LinkBtn>
    </Pattern>

    <Box>
      <BoxHeader class="text-sm !font-medium text-muted-foreground">
        {formattedDate} • {readTime}
      </BoxHeader>

      <Pattern className="screen-line-after" />

      <BoxHeader>
        <BoxTitle class="text-3xl !font-black"
          >{capitalizeFirstLetter(title)}</BoxTitle
        >
      </BoxHeader>

      <Pattern />
    </Box>

    <slot />
  </main>

  <Footer />
</Layout>

<script is:inline data-astro-rerun>
  /** Create a progress indicator
   *  at the top */
  function createProgressBar() {
    // Create the main container div
    const progressContainer = document.createElement("div");
    progressContainer.className =
      "progress-container fixed top-0 z-10 h-1 w-full bg-background";

    // Create the progress bar div
    const progressBar = document.createElement("div");
    progressBar.className = "progress-bar h-1 w-0 bg-blue-500";
    progressBar.id = "myBar";

    // Append the progress bar to the progress container
    progressContainer.appendChild(progressBar);

    // Append the progress container to the document body or any other desired parent element
    document.body.appendChild(progressContainer);
  }
  createProgressBar();

  /** Update the progress bar
   *  when user scrolls */
  function updateScrollProgress() {
    document.addEventListener("scroll", () => {
      const winScroll =
        document.body.scrollTop || document.documentElement.scrollTop;
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      if (document) {
        const myBar = document.getElementById("myBar");
        if (myBar) {
          myBar.style.width = scrolled + "%";
        }
      }
    });
  }
  updateScrollProgress();
</script>
