---
import { ChevronRightIcon, FolderCodeIcon } from "lucide-react";

import type { Project } from "@/lib/types";
import MarkdownRenderer from "@/components/ui/markdown-renderer.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex cursor-pointer items-center border-b">
  <FolderCodeIcon className="mx-4.5 size-5 shrink-0 text-muted-foreground" />

  <div class="group flex w-full cursor-pointer flex-col gap-y-4 border-l p-4">
    <div class="flex w-full items-center justify-between text-left select-none">
      <h3 class="text-lg font-bold text-balance group-hover:underline">
        {project.title}
      </h3>

      <ChevronRightIcon
        className="size-4 shrink-0 text-muted-foreground transition-transform duration-150 group-hover:translate-x-1"
      />
    </div>

    {
      project?.description && (
        <MarkdownRenderer
          className="text-sm leading-5 font-medium"
          content={project?.description}
        />
      )
    }

    {
      Array.isArray(project.tags) && project.tags.length > 0 && (
        <div class="flex flex-wrap gap-1.5">
          {project.tags.map((skill, index) => {
            return (
              <div class="inline-flex items-center rounded-md border px-2 py-0.5 text-xs">
                {skill}
              </div>
            );
          })}
        </div>
      )
    }
  </div>
</div>
