---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<span
  class:list={["inline-flex items-center rounded-md border !border-solid px-2 py-0.5 text-xs", className]}
>
  <slot />
</span>
